body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
  }

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    
  }

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px 0;
  }
